{% extends 'ProyectoWebApp/base.html' %}
{% load static %}

{% block content %}
<style>
  .registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4CAF50; /* Fondo verde */
  }

  .registration-form {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: center;
  }

  .form-title {
    color: #4CAF50; /* Color verde para el título */
  }

  .submit-button {
    background-color: #4CAF50; /* Color verde para el botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .submit-button:hover {
    background-color: #45a049; /* Cambia el color al pasar el ratón por encima */
  }

  /* Estilo para los campos del formulario (puedes personalizar según tus necesidades) */
  .registration-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

</style>

<div class="registration-container">
  <form class="registration-form" method="post">
    {% csrf_token %}

    <h2 class="form-title">Registro</h2>

    {{ form.as_p }}

    <button type="submit" class="submit-button">Registrarse</button>
  </form>
</div>

{% endblock %}

